.title {
  font-size: 22px;
}
.wrapper {
  background-color: aqua;
  display: flex;
  flex-direction: row;

}
.transactionsHeader {
  display: flex;
  flex-direction: row;
  max-height: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}